{% extends "blog/base.html" %}
{% block content %}
    <section class="container">
        
    </section>

    <section class="container">
        <div class="service">
            <h2><a href="#" >Mobile Money</a></h2>
            <p class = 'service-description'>Send and receive money using your mobile phone. Our platform works with all major mobile networks and is available in even the most remote areas.</p>
        </div>
        <div class="service">
            <h2><a href = "#" >Bill Payment</a></h2>
            <p class = 'service-description' >Pay your bills using your mobile phone. Our platform supports a wide range of billers, including utilities, schools, and government agencies.</p>
        </div>
        <div class="service">
            <h2><a href="#" >Financial Services</a></h2>
            <p class = 'service-description'>Access a range of financial services, including savings, loans, and insurance. Our platform is designed to help you manage your money and achieve your financial goals.</p>
        </div>
    </section>

{% endblock content %}