{% extends "blog/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
    <div class = "content-section "> 
        
        <form method = "POST"> 
            {% csrf_token %}

            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Delete Post</legend>
                <h4> Are you sure you to delete the post {{object.tite}}</h4>
                <p>{{object.content}}</p>
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-danger" type = "submit">Yes, Delete</button>
                <a class = "btn btn-outline-secondary" href="{% url 'post-detail' object.id %}"> Cancel</a>
            </div>
            </div>
        </form>

        <div>
            <p> Make your first post </p>
            <p> we are pleased to welcome you</p>
            <p> We cannot express how grateful we are!</p>

        </div>
        
    </div>
      
{% endblock content %}
