{% extends "blog/base.html" %}
{% block content %}

 <div class="container-team">
    <div class="card">
        <img src="https://via.placeholder.com/150" alt="John Doe">
        <h2>Eddy Kubwimana</h2>
        <p>CEO and Founder</p>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/150" alt="Jane Smith">
        <h2>Olivier Bigirimana</h2>
        <p>Product Manager</p>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/150" alt="Bob Johnson">
        <h2> Philbert Kazimwoto </h2>
        <p> Marketing Manager</p>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/150" alt="Sara Lee">
        <h2>Euphrasie Mbonimpa</h2>
        <p>Sales Manager</p>
    </div>
    
 </div>

{% endblock content %}
