{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
    <div class = "content-section "> 
        
        <form method = "POST"> 
            {% csrf_token %}

            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Login to Agent-Connect</legend>
                {{form.as_p}}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type = "submit"> Log In</button>
            </div>
        </form>

        <div class = "border-top pt-3">
            <small class = "text-muted">
                Need an Account ? <a class = "ml-2" href = "{% url 'register'%}"> sign Up Now </a>
            </small>
        </div>


        <div>
            <p> Welcome back Agent-Connect </p>
            
        </div>
        
    </div>
      
{% endblock content %}
