{% extends "blog/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
    <div class = "content-section "> 
        
        <form method = "POST"> 
            {% csrf_token %}

            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Join Agent-Connect</legend>
                {{form.as_p}}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type = "submit"> Sign Up</button>
            </div>
        </form>

        <div class = "border-top pt-3">
            <small class = "text-muted">
            Already have an account ? <a class = "ml-2" href = "{%url 'Login' %}"> sign In </a>
            </small>
        </div>


        <div>
            <p> Welcome to Agent-Connect </p>
            <p> we are pleased to welcome you</p>
            <p> We cannot express how grateful we are!</p>

        </div>
        
    </div>
      
{% endblock content %}
